#posts div, #comments div {
    margin-top: 1em;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 1em;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
}

h1 {
    margin: auto;
    color: darkgreen;
}

h4 {
    margin: auto;
    color: darkgreen;
}

a, a:visited {
    color: green;
    text-decoration: none;
}

html, body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    text-align: center;
}

main {
    margin: auto;
    width: 50%;
    margin-bottom: 0.5em;
}

body {
    background-image: url("../IMG/fog.jpg");
    background-size: 100%;
    background-attachment: fixed;
    /* height: 100vh; */
}

::-webkit-scrollbar {
    width: 0px;
}